mule-apikit-module/src/test/resources/org/mule/module/apikit/validation/body/schema/raml-08-with-schema-in-include.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="httpListenerConfigDefault">
        <http:listener-connection host="localhost" port="${serverPort}"/>
    </http:listener-config>

    <apikit:config raml="org/mule/module/apikit/validation/body/schema/raml-08-with-schema-in-include.raml"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

    <flow name="doorway">
        <http:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <http:response statusCode="#[variables.httpStatus default 200]">
                <http:headers>#[variables.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[variables.httpStatus default 500]">
                <http:headers>#[variables.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <set-variable variableName="httpStatus" value="400"/>
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="put:/jsonschema">
        <set-payload value="hello"/>
    </flow>

</mule>
