mule-module-apikit/src/test/resources/org/mule/module/apikit/proxy/app-with-raml/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">

    <http:listener-config name="httpListenerConfig" host="localhost" port="${proxyPort}"/>
    <http:request-config name="http-request-config" host="localhost" port="${serverPort}" protocol="HTTP"/>
    <apikit:proxy-config name="proxy-config" raml="proxy.raml" disableValidations="true"/>

    <flow name="proxy">
        <http:listener config-ref="httpListenerConfig" path="/proxy/*"/>
        <apikit:proxy config-ref="proxy-config"/>
        <http:request config-ref="http-request-config" method="#[message.inboundProperties['http.method']]" path="api/#[message.inboundProperties['http.request.path'].substring(message.inboundProperties['http.listener.path'].length()-2)]" parseResponse="false">
            <http:request-builder>
                <http:query-params expression="#[message.inboundProperties['http.query.params']]"/>
            </http:request-builder>
            <http:success-status-code-validator values="0..599" />
        </http:request>
        <exception-strategy ref="Global_Mapping_Exception_Strategy"/>
    </flow>

    <flow name="proxyConsole">
        <http:listener config-ref="httpListenerConfig" path="/proxyConsole/*"/>
        <apikit:console config-ref="proxy-config" />
    </flow>

    <apikit:mapping-exception-strategy name="Global_Mapping_Exception_Strategy">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException"/>
            <set-payload value="resource not found"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException"/>
            <set-payload value="method not allowed"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

</mule>
