mule-module-apikit/src/test/resources/org/mule/module/apikit/config/configuration-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">


    <apikit:config name="default" raml="org/mule/module/apikit/config/config.yaml"/>

    <apikit:config name="custom" raml="org/mule/module/apikit/config/config.yaml" consolePath="custom"/>

    <apikit:config name="no-console" raml="org/mule/module/apikit/config/config.yaml" consoleEnabled="false"/>

    <apikit:config name="mapped-flows" raml="org/mule/module/apikit/config/config.yaml">
        <apikit:flow-mapping resource="/resource" action="get" flow-ref="retrieve"/>
    </apikit:config>

    <apikit:config name="no-validations" raml="org/mule/module/apikit/config/config.yaml" disableValidations="true"/>

    <flow name="defaultEntry">
        <http:inbound-endpoint port="${serverPortDefault}" host="localhost" path="default"/>
        <apikit:router config-ref="default"/>
        <exception-strategy ref="Global_Mapping_Exception_Strategy"/>
    </flow>

    <flow name="customEntry">
        <http:inbound-endpoint port="${serverPortCustom}" host="localhost" path="custom"/>
        <apikit:router config-ref="custom"/>
        <exception-strategy ref="Global_Mapping_Exception_Strategy"/>
    </flow>

    <flow name="noConsoleEntry">
        <http:inbound-endpoint port="${serverPortNoConsole}" host="localhost" path="no-console"/>
        <apikit:router config-ref="no-console"/>
        <exception-strategy ref="Global_Mapping_Exception_Strategy"/>
    </flow>

    <flow name="mappingEntry">
        <http:inbound-endpoint port="${serverPortMapping}" host="localhost" path="mapping"/>
        <apikit:router config-ref="mapped-flows"/>
        <exception-strategy ref="Global_Mapping_Exception_Strategy"/>
    </flow>

    <flow name="noValidations">
        <http:inbound-endpoint port="${serverPortNoValidations}" host="localhost" path="no-validations"/>
        <apikit:router config-ref="no-validations"/>
        <exception-strategy ref="Global_Mapping_Exception_Strategy"/>
    </flow>

    <flow name="get:/resource">
        <set-payload value="some resources"/>
    </flow>

    <flow name="patch:/resource">
        <set-payload value="#[org.mule.transport.NullPayload.getInstance()]"/>
    </flow>

    <flow name="retrieve">
        <set-payload value="explicitely mapped flow"/>
    </flow>

    <flow name="put:/forgiving/{id}">
        <set-payload value="no validations performed"/>
    </flow>

    <apikit:mapping-exception-strategy name="Global_Mapping_Exception_Strategy">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException"/>
            <set-property propertyName="Content-Type" value="text/plain"/>
            <set-payload value="resource not found"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

</mule>
