mule-module-apikit/src/test/resources/org/mule/module/apikit/unicode/resource-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">

    <apikit:mapping-exception-strategy name="Global_Mapping_Exception_Strategy">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException"/>
            <set-payload value="resource not found"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException"/>
            <set-payload value="method not allowed"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException"/>
            <set-payload value="unsupported media type"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException"/>
            <set-payload value="not acceptable"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException"/>
            <set-payload value="bad request"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

    <apikit:config name="api" raml="org/mule/module/apikit/unicode/resource.yaml" consoleEnabled="false"/>

    <flow name="doorway">
        <http:inbound-endpoint port="${serverPort}" host="localhost" path="api"/>
        <apikit:router config-ref="api"/>
        <exception-strategy ref="Global_Mapping_Exception_Strategy"/>
    </flow>

    <flow name="console">
        <http:inbound-endpoint port="${serverPort}" host="localhost" path="console"/>
        <apikit:console config-ref="api"/>
    </flow>

    <flow name="get:/pingüino">
        <set-payload value="my name is nestor"/>
        <set-property propertyName="Content-Type" value="text/html;charset=utf-8"/>
    </flow>

    <flow name="get:/pingüino/{id}">
        <set-payload value="my name is #[id]"/>
        <set-property propertyName="Content-Type" value="text/html;charset=utf-8"/>
    </flow>

    <flow name="post:/test">
        <set-payload value="#[payload]"/>
    </flow>

</mule>