mule-apikit-tools/mule-apikit-scaffolder/src/test/resources/rescaffolding-apisync-version/v2/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="api-config" api="resource::com.mycompany:raml-api:2.0.0:raml:zip:api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" />
                <set-variable variableName="httpStatus" value="400" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" />
                <set-variable variableName="httpStatus" value="404" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" />
                <set-variable variableName="httpStatus" value="405" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" />
                <set-variable variableName="httpStatus" value="406" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" />
                <set-variable variableName="httpStatus" value="415" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Not Implemented&quot; }" />
                <set-variable variableName="httpStatus" value="501" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" />
                <set-variable variableName="httpStatus" value="404" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\customers:api-config">
        <logger level="INFO" message="get:\customers:api-config" />
    </flow>
    <flow name="get:\otherPerson:api-config">
        <logger level="INFO" message="get:\otherPerson:api-config" />
    </flow>
    <flow name="get:\personas:api-config">
        <logger level="INFO" message="get:\personas:api-config" />
    </flow>
    <flow name="get:\persons:api-config">
        <logger level="INFO" message="get:\persons:api-config" />
    </flow>
    <flow name="get:\providers:api-config">
        <logger level="INFO" message="get:\providers:api-config" />
    </flow>
    <flow name="get:\union:api-config">
        <logger level="INFO" message="get:\union:api-config" />
    </flow>
    <flow name="get:\newResource:api-config">
        <logger level="INFO" message="get:\newResource:api-config" />
    </flow>
</mule>
