apikit-tools/apikit-scaffolder/src/test/resources/scaffolder-existing/simple-4.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">

    <http:listener-config name="HTTP_Listener_Configuration">
        <http:listener-connection host="0.0.0.0" port="${serverPort}"/>
    </http:listener-config>

    <apikit:config raml="simple.raml"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

    <flow name="main">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/*">
            <http:response statusCode="#[variables.httpStatus default 200]">
                <http:headers>#[variables.outboundHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        <apikit:router />
    </flow>

    <flow name="get:/">
        <set-payload value="Root!"/>
    </flow>

    <flow name="get:/pet">
        <set-payload value="Hello world!"/>
    </flow>

</mule>
