apikit-tools/apikit-scaffolder/src/test/resources/scaffolder-existing/simple.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd ">

    <httpn:listener-config name="HTTP_Listener_Configuration">
        <httpn:listener-connection host="localhost" port="${serverPort}" />
    </httpn:listener-config>

    <apikit:config raml="simple-console.raml"/>

    <flow name="main">
        <httpn:listener config-ref="HTTP_Listener_Configuration" path="/api/*">
            <httpn:response statusCode="#[variables.httpStatus default 200]">
                <httpn:headers>#[variables.outboundHeaders]</httpn:headers>
            </httpn:response>
        </httpn:listener>
        <apikit:router config-ref="simpleV10-config" />
    </flow>

    <flow name="get:/">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:set-payload><![CDATA[%output application/java
             ---
             Root!]]></ee:set-payload>
        </ee:transform>
    </flow>

    <flow name="get:/pet">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:set-payload><![CDATA[%output application/java
             ---
             Hello world!]]></ee:set-payload>
        </ee:transform>
    </flow>

</mule>
