src/test/resources/oas/2.0/petstore/petstore.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="petstore-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="petstore-config" raml="petstore.json" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="petstore-main">
        <http:listener config-ref="petstore-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="petstore-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="petstore-console">
        <http:listener config-ref="petstore-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="petstore-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\pet:application\json:petstore-config">
        <logger level="INFO" message="put:\pet:application\json:petstore-config" />
    </flow>
    <flow name="put:\pet:application\xml:petstore-config">
        <logger level="INFO" message="put:\pet:application\xml:petstore-config" />
    </flow>
    <flow name="put:\user\(username):petstore-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="username">attributes.uriParams.username</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\user\(username):petstore-config" />
    </flow>
    <flow name="delete:\pet\(petId):petstore-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="petId">attributes.uriParams.petId</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\pet\(petId):petstore-config" />
    </flow>
    <flow name="delete:\store\order\(orderId):petstore-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="orderId">attributes.uriParams.orderId</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\store\order\(orderId):petstore-config" />
    </flow>
    <flow name="delete:\user\(username):petstore-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="username">attributes.uriParams.username</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\user\(username):petstore-config" />
    </flow>
    <flow name="get:\pet\findByStatus:petstore-config">
        <logger level="INFO" message="get:\pet\findByStatus:petstore-config" />
    </flow>
    <flow name="get:\pet\findByTags:petstore-config">
        <logger level="INFO" message="get:\pet\findByTags:petstore-config" />
    </flow>
    <flow name="get:\pet\(petId):petstore-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="petId">attributes.uriParams.petId</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\pet\(petId):petstore-config" />
    </flow>
    <flow name="get:\store\inventory:petstore-config">
        <logger level="INFO" message="get:\store\inventory:petstore-config" />
    </flow>
    <flow name="get:\store\order\(orderId):petstore-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="orderId">attributes.uriParams.orderId</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\store\order\(orderId):petstore-config" />
    </flow>
    <flow name="get:\user\login:petstore-config">
        <logger level="INFO" message="get:\user\login:petstore-config" />
    </flow>
    <flow name="get:\user\logout:petstore-config">
        <logger level="INFO" message="get:\user\logout:petstore-config" />
    </flow>
    <flow name="get:\user\(username):petstore-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="username">attributes.uriParams.username</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\user\(username):petstore-config" />
    </flow>
    <flow name="post:\pet\(petId)\uploadImage:multipart\form-data:petstore-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="petId">attributes.uriParams.petId</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\pet\(petId)\uploadImage:multipart\form-data:petstore-config" />
    </flow>
    <flow name="post:\pet\(petId):application\x-www-form-urlencoded:petstore-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="petId">attributes.uriParams.petId</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\pet\(petId):application\x-www-form-urlencoded:petstore-config" />
    </flow>
    <flow name="post:\pet:application\json:petstore-config">
        <logger level="INFO" message="post:\pet:application\json:petstore-config" />
    </flow>
    <flow name="post:\pet:application\xml:petstore-config">
        <logger level="INFO" message="post:\pet:application\xml:petstore-config" />
    </flow>
    <flow name="post:\store\order:petstore-config">
        <logger level="INFO" message="post:\store\order:petstore-config" />
    </flow>
    <flow name="post:\user:petstore-config">
        <logger level="INFO" message="post:\user:petstore-config" />
    </flow>
    <flow name="post:\user\createWithArray:petstore-config">
        <logger level="INFO" message="post:\user\createWithArray:petstore-config" />
    </flow>
    <flow name="post:\user\createWithList:petstore-config">
        <logger level="INFO" message="post:\user\createWithList:petstore-config" />
    </flow>
</mule>
