mule-apikit-module/src/test/resources/org/mule/module/apikit/unicode/bom-test/bom-test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd       http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <apikit:config name="router-config" raml="org/mule/module/apikit/unicode/bom-test/api/input.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:listener-config name="httpListenerConfigDefault">
        <http:listener-connection host="localhost" port="${http.port}" />
    </http:listener-config>
    <flow name="main-api">
        <http:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="router-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="#[error.errorMessage]" />
                <set-variable variableName="httpStatus" value="400" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" />
                <set-variable variableName="httpStatus" value="404" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" />
                <set-variable variableName="httpStatus" value="405" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" />
                <set-variable variableName="httpStatus" value="406" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" />
                <set-variable variableName="httpStatus" value="415" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]" />
                <set-payload value="{ &quot;message&quot;: &quot;Not implemented&quot; }" />
                <set-variable variableName="httpStatus" value="501" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:/target:application/xml:router-config">
        <set-payload value="{&quot;status&quot;: &quot;ok&quot;}"/>
        <logger level="INFO" message="post:/target:application/xml:router-config" />
    </flow>
</mule>
