mule-apikit-module/src/test/resources/org/mule/module/apikit/contenttype/content-type-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="httpListenerConfigDefault">
        <http:listener-connection host="localhost" port="${serverPort}"/>
    </http:listener-config>

    <apikit:config name="apikitConfig" raml="org/mule/module/apikit/contenttype/content-type.raml"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

    <flow name="doorway">
        <http:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <http:response statusCode="#[variables.httpStatus]">
                <http:headers>#[variables.outboundHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        <apikit:router config-ref="apikitConfig"/>
    </flow>

    <flow name="get:/resources">
        <logger level="INFO" message="siamo qui"/>
        <set-payload value="hello"/>
    </flow>

    <flow name="get:/multitype">
        <logger level="INFO" message="content type hint: #[mel:message.getAttributes().getHeaders()['ctype']]"/>
        <choice>
            <when expression="#[mel:message.getAttributes().getHeaders()['ctype'] == 'json']">
                <logger level="INFO" message="returning json"/>
                <expression-component>mel:flowVars['outboundHeaders'].put('Content-Type', 'application/json')</expression-component>

                <!--<set-property propertyName="Content-Type" value="application/json"/>-->
            </when>
            <when expression="#[mel:message.getAttributes().getHeaders()['ctype'] == 'xml']">
                <logger level="INFO" message="returning xml"/>
                <expression-component>mel:flowVars['outboundHeaders'].put('Content-Type', 'application/xml')</expression-component>

                <!--<set-property propertyName="Content-Type" value="application/xml"/>-->
            </when>
            <otherwise>
                <logger level="INFO" message="returning html"/>
                <expression-component>mel:flowVars['_outboundHeaders_'].put('Content-Type', 'text/html')</expression-component>

                <!--<set-property propertyName="Content-Type" value="text/html"/>-->
            </otherwise>
        </choice>
        <set-payload value="#[mel:null]"/>
        <set-payload value="never mind"/>
    </flow>

</mule>
