mule-apikit-module/src/test/resources/org/mule/module/apikit/console/console-0000-replacement-raml10.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="httpListenerConfigDefault">
        <http:listener-connection host="0.0.0.0" port="${serverPort}"/>
    </http:listener-config>

    <apikit:config name="apikitConfigWithRouter" raml="org/mule/module/apikit/console/simple-with-baseuri10.raml"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

    <flow name="api-main">
        <http:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        <apikit:router config-ref="apikitConfigWithRouter"/>
    </flow>

    <flow name="api-console">
        <http:listener config-ref="httpListenerConfigDefault" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        <apikit:console config-ref="apikitConfigWithRouter" />
    </flow>


</mule>
