mule-apikit-module/src/test/resources/org/mule/module/apikit/console/console-invalid-path.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="httpListenerConfig">
        <http:listener-connection host="localhost" port="${serverPort}"/>
    </http:listener-config>

    <http:listener-config name="secondHttpListenerConfig">
        <http:listener-connection host="localhost" port="${secondServerPort}"/>
    </http:listener-config>

    <apikit:config name="apiConfig" raml="org/mule/module/apikit/console/simple-with-baseuri10.raml"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

    <flow name="listener-console-invalid">
        <http:listener config-ref="httpListenerConfig" path="/console/">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        <apikit:console config-ref="apiConfig" />
    </flow>

    <flow name="second-listener-console-invalid">
        <http:listener config-ref="secondHttpListenerConfig" path="/console">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        <apikit:console config-ref="apiConfig" />
    </flow>

</mule>
