mule-module-apikit/src/test/resources/org/mule/module/apikit/exception/exception-message-formatting-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:test="http://www.mulesoft.org/schema/mule/test"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
    http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
    http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">

    <http:listener-config name="httpListenerConfig" host="0.0.0.0" port="${http.port}"/>
    <apikit:config name="apiConfig" raml="org/mule/module/apikit/exception/exception-formatter-api.raml"/>

    <flow name="api-main">
        <http:listener config-ref="httpListenerConfig" path="/api/*"/>
        <apikit:router config-ref="apiConfig"/>
        <exception-strategy ref="apiKitGlobalExceptionMapping"/>
    </flow>

    <apikit:mapping-exception-strategy name="apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException"/>
            <set-property propertyName="Content-Type" value="application/json"/>
            <set-payload
                    value="{&quot;error&quot;:&quot;#[org.mule.util.StringUtils.escape((exception.cause==null)?'Not Applicable':(exception.cause.message))]&quot;}"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

    <flow name="post:/schemaJson:application/json:apiConfig">
        <logger level="INFO" message="Test"/>
    </flow>

    <flow name="post:/bodyJson:application/json:apiConfig">
        <logger level="INFO" message="Test"/>
    </flow>

    <flow name="post:/someJsonError:application/json:apiConfig">
        <test:component throwException="true" exceptionToThrow="org.mule.module.apikit.exception.BadRequestException"
                        exceptionText="{&quot;errors&quot;: [{&quot;message&quot;: &quot;Invalid value for &quot;field&quot;, required: [&quot;field&quot;].&quot;}]}"/>
    </flow>

</mule>

