apikit-tools/apikit-scaffolder/src/test/resources/scaffolder-with-examples/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd ">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" />
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" />
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" />
        <apikit:router config-ref="api-config" />
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" />
        <apikit:console config-ref="api-config" />
    </flow>
    <flow name="get:/customers:api-config">
        <set-payload value="{&#xA;  &quot;idNumber&quot;: 35877877,&#xA;  &quot;firstName&quot;: &quot;Jose&quot;,&#xA;  &quot;middleName&quot;: &quot;Ramiro&quot;,&#xA;  &quot;lastName&quot;: &quot;Funes Mori&quot;,&#xA;  &quot;gender&quot;: &quot;M&quot;,&#xA;  &quot;customerId&quot;: 1234&#xA;}" />
    </flow>
    <flow name="get:/otherPerson:api-config">
        <set-payload value="{&#xA;  &quot;idNumber&quot;: 35877876,&#xA;  &quot;firstName&quot;: &quot;Rogelio&quot;,&#xA;  &quot;lastName&quot;: &quot;Funes Mori&quot;,&#xA;  &quot;gender&quot;: &quot;M&quot;&#xA;}" />
    </flow>
    <flow name="get:/personas:api-config">
        <set-payload value="{&#xA;  &quot;idNumber&quot;: 35877877,&#xA;  &quot;firstName&quot;: &quot;Jose&quot;,&#xA;  &quot;middleName&quot;: &quot;Ramiro&quot;,&#xA;  &quot;lastName&quot;: &quot;Funes Mori&quot;,&#xA;  &quot;gender&quot;: &quot;M&quot;&#xA;}" />
    </flow>
    <flow name="get:/persons:api-config">
        <set-payload value="{&#xA;  &quot;idNumber&quot;: 35877877,&#xA;  &quot;firstName&quot;: &quot;Jose&quot;,&#xA;  &quot;middleName&quot;: &quot;Ramiro&quot;,&#xA;  &quot;lastName&quot;: &quot;Funes Mori&quot;,&#xA;  &quot;gender&quot;: &quot;M&quot;&#xA;}" />
    </flow>
    <flow name="get:/providers:api-config">
        <set-payload value="#[NullPayload.getInstance()]" />
    </flow>
    <flow name="get:/union:api-config">
        <set-payload value="Hello World" />
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
