mule-apikit-module/src/test/resources/org/mule/module/apikit/validation/formParameters/mule-config-v1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
             http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
             http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <apikit:config name="router-config" raml="org/mule/module/apikit/validation/formParameters/api-v1.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

    <http:listener-config name="httpListenerConfigDefault">
        <http:listener-connection host="localhost" port="${serverPort}" />
    </http:listener-config>

    <flow name="main-api">
        <http:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <non-repeatable-stream/>
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="router-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <set-payload value="{message: 'Bad Request'}"/>
                <set-variable variableName="httpStatus" value="400"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-payload value="{message: 'Not Found'}"/>
                <set-variable variableName="httpStatus" value="404"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <set-payload value="{message: 'Method Not Allowed'}"/>
                <set-variable variableName="httpStatus" value="405"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <set-payload value="{message: 'Not acceptable'}"/>
                <set-variable variableName="httpStatus" value="406"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <set-payload value="{message: 'Unsupported media type'}"/>
                <set-variable variableName="httpStatus" value="415"/>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="main-console">
        <http:listener config-ref="httpListenerConfigDefault" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        <apikit:console config-ref="router-config" />
    </flow>
    <flow name="post:\url-encoded-simple:application\x-www-form-urlencoded:router-config">
        <set-payload value="#[payload]"/>
    </flow>
    <flow name="post:\url-encoded-with-default:application\x-www-form-urlencoded:router-config">
        <set-payload value="#[payload]"/>
    </flow>
    <flow name="post:\url-encoded-duplicated-key:application\x-www-form-urlencoded:router-config">
        <set-payload value="#[payload]"/>
    </flow>

    <flow name="post:\multipart:multipart\form-data:router-config">
        <set-payload value="#[output application/json --- {(payload.parts pluck {'$$': $.content})}]" />
    </flow>
    <flow name="post:\multiple-required-multipart:multipart\form-data:router-config">
        <set-payload value="#[output application/json --- payload.parts pluck $$ as String]" />
    </flow>
    <flow name="post:\multiple-optional-multipart:multipart\form-data:router-config">
        <set-payload value="#[output application/json --- payload.parts pluck $$ as String]" />
    </flow>
    <flow name="post:\users:multipart\form-data:router-config">
        <set-payload value="#[output text/plain --- payload.parts.userId.content]" />
    </flow>
    <flow name="post:\announcements:multipart\form-data:router-config">
        <set-payload value="#[output text/plain --- payload.parts.content.content default 'content-not-provided']" />
    </flow>
    <flow name="post:\uploadImage:multipart\form-data:router-config">
        <set-payload value="#[output text/plain import java!java::util::Arrays import java!org::mule::runtime::core::api::util::IOUtils --- Arrays::toString(IOUtils::toByteArray(payload.parts.image.content as String))]"/>
    </flow>
    <flow name="post:\uploadFile:multipart\form-data:router-config">
        <set-payload value="#[output text/plain --- payload.parts.document.content]"/>
    </flow>
</mule>
