apikit-tools/apikit-scaffolder/src/test/resources/console-flow/simple.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd ">

    <http:listener-config name="HTTP_Listener_Configuration">
        <http:listener-connection host="localhost" port="${serverPort}" />
    </http:listener-config>

    <apikit:config name="simpleV10-config" raml="simple-console.raml"/>

    <flow name="main">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/*">
            <http:response statusCode="#[variables.httpStatus default 200]">
                <http:headers>#[variables.outboundHeaders]</http:headers>
            </http:response>
        </http:listener>
        <apikit:router config-ref="simpleV10-config" />
    </flow>

    <flow name="get:/:simpleV10-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:set-payload><![CDATA[%output application/java
             ---
             Root!]]></ee:set-payload>
        </ee:transform>
    </flow>

    <flow name="get:/pet:simpleV10-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:set-payload><![CDATA[%output application/java
             ---
             Hello world!]]></ee:set-payload>
        </ee:transform>
    </flow>

</mule>
