mule-module-apikit/src/test/resources/org/mule/module/apikit/proxy/http-proxy-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">

    <apikit:config name="config" raml="org/mule/module/apikit/proxy/self.raml"/>

    <flow name="http-proxy">
        <http:inbound-endpoint port="${proxyPort}" host="0.0.0.0"/>
        <copy-properties propertyName="*" />
        <http:outbound-endpoint host="localhost" port="${serverPort}" path="#[message.inboundProperties['http.relative.path']]"/>
        <copy-properties propertyName="http.status" />
        <copy-properties propertyName="Location" />
        <exception-strategy ref="Global_Mapping_Exception_Strategy"/>
    </flow>

    <flow name="api">
        <http:inbound-endpoint port="${serverPort}" host="0.0.0.0" path="api"/>
        <processor ref="set-proxy-host"/>
        <apikit:router config-ref="config"/>
        <exception-strategy ref="Global_Mapping_Exception_Strategy"/>
    </flow>

    <flow name="console">
        <http:inbound-endpoint port="${serverPort}" host="0.0.0.0" path="console"/>
        <processor ref="set-proxy-host"/>
        <apikit:console config-ref="config"/>
    </flow>

    <processor-chain name="set-proxy-host">
        <scripting:component>
            <scripting:script engine="Groovy">
                <scripting:text><![CDATA[message.setInboundProperty('Host', 'localhost:${proxyPort}');]]></scripting:text>
            </scripting:script>
        </scripting:component>
    </processor-chain>

    <apikit:mapping-exception-strategy name="Global_Mapping_Exception_Strategy">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException"/>
            <set-payload value="resource not found"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException"/>
            <set-payload value="method not allowed"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

</mule>
