mule-apikit-module/src/test/resources/org/mule/module/apikit/parameters/parameters-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <apikit:config name="router-config" raml="org/mule/module/apikit/parameters/parameters.yaml"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

    <http:listener-config name="httpListenerConfig">
        <http:listener-connection host="localhost" port="${serverPort}" />
    </http:listener-config>

    <flow name="main-api">
        <http:listener config-ref="httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>

        <apikit:router config-ref="router-config" />

        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]"/>
                <set-payload value="#[error.errorMessage]"/>
                <set-variable variableName="httpStatus" value="400"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]"/>
                <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }"/>
                <set-variable variableName="httpStatus" value="404"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]"/>
                <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }"/>
                <set-variable variableName="httpStatus" value="405"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]"/>
                <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }"/>
                <set-variable variableName="httpStatus" value="406"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]"/>
                <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }"/>
                <set-variable variableName="httpStatus" value="415"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <set-payload value="{message: 'Not implemented'}"/>
                <set-variable variableName="httpStatus" value="501"/>
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="main-console">
        <http:listener config-ref="httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>

        <apikit:console config-ref="router-config" />

        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-variable variableName="outboundHeaders" value="#[{'Content-Type':'application/json'}]"/>
                <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }"/>
                <set-variable variableName="httpStatus" value="404"/>
            </on-error-propagate>
        </error-handler>
    </flow>


    <flow name="get:\resources">
        <logger level="INFO" message="siamo qui"/>
    </flow>

    <flow name="get:\resources\(id)">
        <logger level="INFO" message="siamo qui"/>
    </flow>

    <flow name="get:\resources\(id)\(id2)">
        <logger level="INFO" message="siamo qui"/>
    </flow>

    <flow name="get:\repeat">
        <logger level="INFO" message="#[attributes]"/>
    </flow>

    <flow name="get:\trackOrder">
        <logger level="INFO" message="#[attributes]"/>
    </flow>
</mule>