src/test/resources/org/mule/module/apikit/rest/integration/functional-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:test="http://www.mulesoft.org/schema/mule/test"
    xmlns:json="http://www.mulesoft.org/schema/mule/json"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
        http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <flow name="retrieveLeagues">
        <set-payload value="#[registry:list-of-leagues]" returnClass="org.mule.module.apikit.rest.integration.Leagues"/>
    </flow>

    <flow name="createLeague">
        <json:json-to-object-transformer returnClass="org.mule.module.apikit.rest.integration.League"/>
        <set-variable variableName="leaguesMemberId" value="#[app.registry['list-of-leagues'].getLeagues().size() + 1]" />
        <expression-component>
            payload.id = leaguesMemberId;
            app.registry['list-of-leagues'].getLeagues().add(payload);
        </expression-component>
    </flow>

    <flow name="retrieveLeague">
        <logger level="WARN" message="leaguesMemberId: #[leaguesMemberId]"/>
        <choice>
            <when expression="#[app.registry['list-of-leagues'].getLeague(leaguesMemberId)]">
                <set-payload value="#[app.registry['list-of-leagues'].getLeague(leaguesMemberId)]" returnClass="org.mule.module.apikit.rest.integration.League"/>
            </when>
            <otherwise>
                <set-property propertyName="http.status" value="404" />
            </otherwise>
        </choice>
    </flow>

    <flow name="updateLeague">
        <json:json-to-object-transformer returnClass="org.mule.module.apikit.rest.integration.League"/>
            <expression-component>
                league = app.registry['list-of-leagues'].getLeague(leaguesMemberId);
                league.name = payload.name;
            </expression-component>
    </flow>

    <flow name="deleteLeague">
        <expression-component>
            app.registry['list-of-leagues'].deleteLeague(leaguesMemberId)
        </expression-component>
    </flow>

    <flow name="retrieveTeams">
        <expression-component>
            payload = app.registry['list-of-teams-' + leaguesMemberId];
        </expression-component>
    </flow>

    <flow name="retrieveTeam">
        <logger level="WARN" message="leaguesMemberId: #[leaguesMemberId]"/>
        <choice>
            <when expression="#[app.registry['list-of-teams-' + leaguesMemberId].getTeam(teamsMemberId)]">
                <set-payload value="#[app.registry['list-of-teams-' + leaguesMemberId].getTeam(teamsMemberId)]"
                             returnClass="org.mule.module.apikit.rest.integration.Team"/>
            </when>
            <otherwise>
                <set-property propertyName="http.status" value="404" />
            </otherwise>
        </choice>
    </flow>


    <spring:beans>
        <spring:bean id="liga-bbva" class="org.mule.module.apikit.rest.integration.League">
            <spring:property name="id" value="liga-bbva"/>
            <spring:property name="name" value="Liga BBVA"/>
        </spring:bean>
        <spring:bean id="premier-league" class="org.mule.module.apikit.rest.integration.League">
            <spring:property name="id" value="premier-league"/>
            <spring:property name="name" value="Premier League"/>
        </spring:bean>
        <spring:bean id="list-of-leagues" class="org.mule.module.apikit.rest.integration.Leagues">
            <spring:property name="leagues">
                <spring:list>
                    <spring:ref bean="liga-bbva"/>
                    <spring:ref bean="premier-league"/>
                </spring:list>
            </spring:property>
        </spring:bean>
        <spring:bean id="real-madrid" class="org.mule.module.apikit.rest.integration.Team">
            <spring:property name="id" value="real-madrid"/>
            <spring:property name="name" value="Real Madrid"/>
        </spring:bean>
        <spring:bean id="barcelona" class="org.mule.module.apikit.rest.integration.Team">
            <spring:property name="id" value="barcelona"/>
            <spring:property name="name" value="Barcelona"/>
        </spring:bean>
        <spring:bean id="valencia" class="org.mule.module.apikit.rest.integration.Team">
            <spring:property name="id" value="valencia"/>
            <spring:property name="name" value="Valencia"/>
        </spring:bean>
        <spring:bean id="athletic-bilbao" class="org.mule.module.apikit.rest.integration.Team">
            <spring:property name="id" value="athletic-bilbao"/>
            <spring:property name="name" value="Athletic Bilbao"/>
        </spring:bean>
        <spring:bean id="atletico-madrid" class="org.mule.module.apikit.rest.integration.Team">
            <spring:property name="id" value="atletico-madrid"/>
            <spring:property name="name" value="Atletico Madrid"/>
        </spring:bean>
        <spring:bean id="list-of-teams-liga-bbva" class="org.mule.module.apikit.rest.integration.Teams">
            <spring:property name="teams">
                <spring:list>
                    <spring:ref bean="real-madrid"/>
                    <spring:ref bean="barcelona"/>
                    <spring:ref bean="valencia"/>
                    <spring:ref bean="athletic-bilbao"/>
                    <spring:ref bean="atletico-madrid"/>
                </spring:list>
            </spring:property>
        </spring:bean>
        <spring:bean id="man-united" class="org.mule.module.apikit.rest.integration.Team">
            <spring:property name="id" value="man-united"/>
            <spring:property name="name" value="Manchester United"/>
        </spring:bean>
        <spring:bean id="man-city" class="org.mule.module.apikit.rest.integration.Team">
            <spring:property name="id" value="man-city"/>
            <spring:property name="name" value="Manchester City"/>
        </spring:bean>
        <spring:bean id="list-of-teams-premier-league" class="org.mule.module.apikit.rest.integration.Teams">
            <spring:property name="teams">
                <spring:list>
                    <spring:ref bean="man-united"/>
                    <spring:ref bean="man-city"/>
                </spring:list>
            </spring:property>
        </spring:bean>
    </spring:beans>

</mule>
