mule-module-apikit/src/test/resources/org/mule/module/apikit/schema/xxe-attack-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">

    <http:listener-config name="api-httpListenerConfig" host="localhost" port="${serverPort}"/>

    <http:listener-config  name="http-8086" host="0.0.0.0" port="${serverPort2}" />

    <apikit:config name="api-config" raml="org/mule/module/apikit/schema/xxe-attack.raml" consoleEnabled="true" consolePath="console"/>

    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*"/>
        <apikit:router config-ref="api-config"/>
        <exception-strategy ref="Global_Mapping_Exception_Strategy"/>
    </flow>

    <flow name="post:/test:application/xml:api-config">
        <set-payload value="#[NullPayload.getInstance()]"/>
    </flow>

    <flow name="should-not-be-called-flow">
        <http:listener config-ref="http-8086" path="/*"/>
        <set-property propertyName="invalidheader" value="invalid"/>
    </flow>

    <apikit:mapping-exception-strategy name="Global_Mapping_Exception_Strategy">
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException"/>
            <set-payload value="validation exception: #[exception.causeException.message]"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

</mule>
