mule-module-apikit/src/test/resources/org/mule/module/apikit/rest/resource/collection/collection-functional-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:test="http://www.mulesoft.org/schema/mule/test"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="retrieveLeagues">
        <set-payload value="{leagues:[{'id':1,'name'='one'},{'id':2,'name'='two'},{'id':3,'name'='three'}]}" />
    </flow>

    <flow name="createLeague">
        <test:assert expression="#[payload==&quot;{&apos;id&apos;:1,&apos;name&apos;=&apos;one&apos;}&quot;]" />
        <set-variable variableName="leaguesMemberId" value="1" />
    </flow>

    <flow name="retrieveLeague">
        <test:assert expression="#[leaguesMemberId==1||leaguesMemberId==2]" />
        <expression-component>
            if(leaguesMemberId==1){payload="{'id':1,'name'='one'}";}
            else
            if(leaguesMemberId==2){payload="{'id':2,'name'='two'}";}
            else
            if(leaguesMemberId==3){payload="{'id':3,'name'='three'}";}
            else{payload="error";}
        </expression-component>
    </flow>

    <flow name="updateLeague">
        <test:assert expression="#[leaguesMemberId==1]" />
        <test:assert expression="#[payload==&quot;{&apos;id&apos;:1,&apos;name&apos;=&apos;ONE&apos;}&quot;]" />
        <set-payload value="{'id':1,'name'='ONE'}" />
    </flow>

    <flow name="deleteLeague">
        <test:assert expression="#[leaguesMemberId==1]" />
    </flow>

    <flow name="retrieveTeams">
        <set-payload value="{teams:[{'id':3,'name'='three'},{'id':4,'name'='four'}]}" />
    </flow>

    <flow name="createTeam">
        <test:assert expression="#[payload==&quot;{&apos;id&apos;:3,&apos;name&apos;=&apos;three&apos;}&quot;]" />
        <set-variable variableName="teamsMemberId" value="3" />
    </flow>

    <flow name="retrieveTeam">
        <test:assert expression="#[leaguesMemberId==1||leaguesMemberId==2]" />
        <test:assert expression="#[teamsMemberId==3||teamsMemberId==4]" />
        <expression-component>
            if(teamsMemberId==3){payload="{'id':3,'name'='three'}";}
            else
            if(teamsMemberId==4){payload="{'id':4,'name'='four'}";}
            else{payload="error";}
        </expression-component>
    </flow>

    <flow name="updateTeam">
        <test:assert expression="#[leaguesMemberId==1]" />
        <test:assert expression="#[teamsMemberId==3]" />
        <test:assert expression="#[payload==&quot;{&apos;id&apos;:3,&apos;name&apos;=&apos;THREE&apos;}&quot;]" />
        <set-payload value="{'id':3,'name'='THREE'}" />
    </flow>

    <flow name="deleteTeam">
        <test:assert expression="#[leaguesMemberId==1]" />
        <test:assert expression="#[teamsMemberId==3]" />
    </flow>

    <flow name="retrieveSponsor">
        <test:assert expression="#[leaguesMemberId==1]" />
        <set-payload value="{'Barclays'}" />
    </flow>

</mule>
