apikit-tools/apikit-archetype/src/main/resources/archetype-resources/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd" >

    <apikit:config name="router-config" raml="api.raml"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

#set ( $useSharedHttpListener = !($sharedHttpListener.isEmpty() || $sharedHttpListener.equals("empty")))
#if( !$useSharedHttpListener )
#set( $configRefName = "httpListenerConfigDefault" )
    <http:listener-config name="httpListenerConfigDefault">
        <http:listener-connection host="localhost" port="${http.port}"/>
    </http:listener-config>
#else
#set( $configRefName = $sharedHttpListener )
#end

    <flow name="main-api">
        <http:listener config-ref="$configRefName" path="/api/*" interpretRequestErrors="true">
            <http:response statusCode="#[variables.httpStatus default 200]">
                <http:headers>#[variables.outboundHeaders]</http:headers>
            </http:response>
        </http:listener>

        <apikit:router config-ref="router-config" />
    </flow>

    <flow name="main-console">
        <http:listener config-ref="$configRefName" path="/console/*" interpretRequestErrors="true">
            <http:response statusCode="#[variables.httpStatus default 200]">
                <http:headers>#[variables.outboundHeaders]</http:headers>
            </http:response>
        </http:listener>

        <apikit:console config-ref="router-config" />
    </flow>

</mule>