apikit-tools/apikit-archetype/src/main/resources/archetype-resources/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd" >

    <apikit:config name="router-config" raml="api.raml"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

#set ( $useSharedHttpListener = !($sharedHttpListener.isEmpty() || $sharedHttpListener.equals("empty")))
#if( !$useSharedHttpListener )
    <httpn:listener-config name="httpListenerConfigDefault">
        <httpn:listener-connection host="localhost" port="${http.port}"/>
    </httpn:listener-config>
#end

#if( $useSharedHttpListener )
#set( $configRefName = $sharedHttpListener )
#else
#set( $configRefName = "httpListenerConfigDefault" )
#end
    <flow name="main-api">
        <httpn:listener config-ref="$configRefName" path="/api/*">
            <httpn:response statusCode="#[variables.httpStatus default 200]">
                <httpn:headers>#[variables.outboundHeaders]</httpn:headers>
            </httpn:response>

            <httpn:error-response statusCode="#[variables.httpStatus default 500]">
                <httpn:headers>#[variables.outboundHeaders]</httpn:headers>
            </httpn:error-response>
        </httpn:listener>

        <apikit:router config-ref="router-config" />
    </flow>

    <flow name="main-console">
        <httpn:listener config-ref="$configRefName" path="/console/*">
            <httpn:response statusCode="#[variables.httpStatus default 200]">
                <httpn:headers>#[variables.outboundHeaders]</httpn:headers>
            </httpn:response>

            <httpn:error-response statusCode="#[variables.httpStatus default 500]">
                <httpn:headers>#[variables.outboundHeaders]</httpn:headers>
            </httpn:error-response>
        </httpn:listener>

        <apikit:console config-ref="router-config" />
    </flow>

</mule>