mule-module-apikit/src/test/resources/org/mule/module/apikit/validation/body/schema/generated-schema-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <httpn:listener-config name="httpListenerConfigDefault">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <apikit:config raml="org/mule/module/apikit/validation/body/schema/generated-schema-api.yaml"/>

    <flow name="doorway">
        <httpn:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <httpn:response statusCode="#[variables.httpStatus default 200]"><httpn:headers>#[variables.outboundHeaders]</httpn:headers></httpn:response>
            <httpn:error-response statusCode="400"><httpn:headers>#[variables.outboundHeaders]</httpn:headers></httpn:error-response>
        </httpn:listener>
        <apikit:router/>
    </flow>

    <flow name="put:/currentuser">
        <set-payload value="hello"/>
    </flow>

    <flow name="post:/currentuser">
        <logger level="INFO" message="inside of post:/currentuser"/>
        <set-payload value="hello"/>
    </flow>

    <flow name="get:/resources">
        <logger level="INFO" message="inside of get:/resources"/>
        <set-payload value="hello"/>
    </flow>

</mule>
