mule-module-apikit/src/test/resources/org/mule/module/apikit/validation/body/schema/schema-cache-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <httpn:listener-config name="httpListenerConfigDefault">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <apikit:config name="cam" raml="org/mule/module/apikit/validation/body/schema/twin-cam.yaml"/>
    <apikit:config name="peaks" raml="org/mule/module/apikit/validation/body/schema/twin-peaks.yaml"/>

    <flow name="doorway-cam">
        <httpn:listener config-ref="httpListenerConfigDefault" path="/cam/*">
            <httpn:response statusCode="#[variables.httpStatus default 200]"><httpn:headers>#[variables.outboundHeaders]</httpn:headers></httpn:response>
        </httpn:listener>
        <apikit:router config-ref="cam"/>
    </flow>

    <flow name="doorway-peaks">
        <httpn:listener config-ref="httpListenerConfigDefault" path="/peaks/*">
            <httpn:response statusCode="#[variables.httpStatus default 200]"><httpn:headers>#[variables.outboundHeaders]</httpn:headers></httpn:response>
        </httpn:listener>
        <apikit:router config-ref="peaks"/>
    </flow>

    <flow name="put:/currentuser">
        <set-payload value="disregard"/>
    </flow>

</mule>
