mule-module-apikit/src/test/resources/org/mule/module/apikit/validation/body/schema/xxe-attack-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="localhost" port="${serverPort}"/>
    </http:listener-config>

    <http:listener-config name="http-8086">
        <http:listener-connection host="0.0.0.0" port="${serverPort2}"/>
    </http:listener-config>

    <apikit:config name="api-config" raml="org/mule/module/apikit/validation/body/schema/xxe-attack.raml"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[variables.httpStatus default 200]">
                <http:headers>#[variables.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[variables.httpStatus default 500]">
                <http:headers>#[variables.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config"/>
        <error-handler>
        <on-error-propagate type="APIKIT:BAD_REQUEST">
            <set-payload value="{message: 'Bad request'}"/>
            <set-variable variableName="httpStatus" value="400"/>
        </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="post:/test:application/xml:api-config">
        <set-payload value="#[NullPayload.getInstance()]"/>
    </flow>

    <flow name="should-not-be-called-flow">
        <http:listener config-ref="http-8086" path="/*">
            <http:response statusCode="#[variables.httpStatus default 200]">
                <http:headers>#[variables.outboundHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        <set-property propertyName="invalidheader" value="invalid"/>
    </flow>

</mule>
