mule-module-apikit/src/test/resources/org/mule/module/apikit/validation/body/schema/xxe-attack-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <httpn:listener-config name="api-httpListenerConfig">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <httpn:listener-config name="http-8086">
        <httpn:listener-connection host="0.0.0.0" port="${serverPort2}"/>
    </httpn:listener-config>

    <apikit:config name="api-config" raml="org/mule/module/apikit/validation/body/schema/xxe-attack.raml"/>

    <flow name="api-main">
        <httpn:listener config-ref="api-httpListenerConfig" path="/api/*">
            <httpn:response statusCode="#[variables.httpStatus default 200]"><httpn:headers>#[variables.outboundHeaders]</httpn:headers></httpn:response>
        </httpn:listener>
        <apikit:router config-ref="api-config"/>
    </flow>

    <flow name="post:/test:application/xml:api-config">
        <set-payload value="#[NullPayload.getInstance()]"/>
    </flow>

    <flow name="should-not-be-called-flow">
        <httpn:listener config-ref="http-8086" path="/*">
            <httpn:response statusCode="#[variables.httpStatus default 200]"><httpn:headers>#[variables.outboundHeaders]</httpn:headers></httpn:response>
        </httpn:listener>
        <set-property propertyName="invalidheader" value="invalid"/>
    </flow>

    <!--<apikit:mapping-exception-strategy name="Global_Mapping_Exception_Strategy">-->
        <!--<apikit:mapping statusCode="400">-->
            <!--<apikit:exception value="org.mule.module.apikit.exception.BadRequestException"/>-->
            <!--<set-payload value="validation exception: #[exception.causeException.message]"/>-->
        <!--</apikit:mapping>-->
    <!--</apikit:mapping-exception-strategy>-->

</mule>
