mule-module-apikit/src/test/resources/org/mule/module/apikit/parameters/parameters-10-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">


    <apikit:config raml="org/mule/module/apikit/parameters/parameters-10.raml"/>

    <http:listener-config name="httpListenerConfig" host="localhost" port="${serverPort}" />

    <flow name="parameters">
        <http:listener config-ref="httpListenerConfig" path="/api/*"/>
        <apikit:router/>
    </flow>

    <flow name="get:/repeat">
        <set-payload value="parameters: #[message.inboundProperties.'http.query.params']"/>
    </flow>

    <flow name="get:/repeatHeader">
        <set-payload value="headers: #[message.inboundProperties.'repeatable']"/>
    </flow>

    <flow name="get:/default">
        <set-payload value="parameters: #[message.inboundProperties.'http.query.params']"/>
    </flow>

</mule>