mule-module-apikit/src/test/resources/org/mule/module/apikit/simple-routing/simple.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="httpListenerConfigDefault">
        <http:listener-connection host="localhost" port="${serverPort}"/>
    </http:listener-config>

    <apikit:config name="apikitConfig" raml="org/mule/module/apikit/simple-routing/simple.raml"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

    <flow name="doorway">
        <http:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <http:response statusCode="#[variables.httpStatus default 200]">
                <http:headers>#[variables.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[variables.httpStatus default 500]">
                <http:headers>#[variables.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="apikitConfig"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <set-payload value="{message: 'Not acceptable'}"/>
                <set-variable variableName="httpStatus" value="406"/>
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="get:/resources">
        <logger level="INFO" message="inside of get:/resources"/>
        <set-payload value="hello"/>
    </flow>

    <flow name="post:/types-test">
        <logger level="INFO" message="inside of post:/types-test"/>
        <set-payload value="hello"/>
    </flow>

    <flow name="post:/reusing-payload">
        <logger level="INFO" message="inside of post:/reusing-payload"/>
        <set-payload value="#[payload]"/>
    </flow>

</mule>
