mule-module-apikit/src/test/resources/org/mule/module/apikit/simple-routing/simple-flow-mapping.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
      http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <httpn:listener-config name="httpListenerConfigDefault">
        <httpn:listener-connection host="localhost" port="${serverPort}"/>
    </httpn:listener-config>

    <apikit:config name="apikitConfig" raml="org/mule/module/apikit/simple-routing/simple.raml"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus">
            <apikit:flow-mapping resource="/resources" action="get" flow-ref="subflow"/>
            <apikit:flow-mapping resource="/resources2" action="get" flow-ref="subflow2"/>

    </apikit:config>

    <flow name="doorway">
        <httpn:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <httpn:response statusCode="#[httpStatus]"><httpn:headers>#[outboundHeaders]</httpn:headers></httpn:response>
            <httpn:error-response statusCode="500"><httpn:headers>#[outboundHeaders]</httpn:headers></httpn:error-response>
        </httpn:listener>
        <apikit:router config-ref="apikitConfig"/>
    </flow>

    <flow name="subflow">
        <logger level="INFO" message="inside of get:/resources"/>
        <set-payload value="hello"/>
    </flow>

    <flow name="subflow2">
        <logger level="INFO" message="inside of get:/resources2"/>
        <set-payload value="hello2"/>
    </flow>

</mule>
