mule-module-apikit/src/test/resources/org/mule/module/apikit/contenttype/content-routing-flow-mapping-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">


    <apikit:config name="router-config" raml="org/mule/module/apikit/contenttype/content-routing.yaml"
                   consoleEnabled="false">
        <apikit:flow-mapping resource="/leagues" action="post" content-type="application/json" flow-ref="post-leagues-json"/>
        <apikit:flow-mapping resource="/leagues" action="post" content-type="application/xml" flow-ref="post-leagues-xml"/>
        <apikit:flow-mapping resource="/leagues2" action="post" content-type="application/json" flow-ref="post-leagues2-json"/>
        <apikit:flow-mapping resource="/leagues3" action="post" flow-ref="post-leagues3"/>
        <apikit:flow-mapping resource="/leagues/{leagueId}" action="get" flow-ref="get-leagueId"/>
        <apikit:flow-mapping resource="/leagues/{leagueId}" action="put" flow-ref="put-leagueId"/>
    </apikit:config>

    <flow name="doorway">
        <http:inbound-endpoint port="${serverPort}" host="localhost" path="api"/>
        <apikit:router/>
        <exception-strategy ref="Global_Mapping_Exception_Strategy"/>
    </flow>

    <flow name="console">
        <http:inbound-endpoint port="${serverPort}" host="localhost" path="console"/>
        <apikit:console/>
    </flow>


    <flow name="post-leagues-json">
        <set-property propertyName="incoming-content-type" value="application/json"/>
    </flow>

    <flow name="post-leagues-xml">
        <set-property propertyName="incoming-content-type" value="application/xml"/>
    </flow>

    <flow name="post-leagues2-json">
        <set-property propertyName="incoming-content-type" value="application/json"/>
    </flow>

    <flow name="post-leagues3">
        <set-property propertyName="incoming-content-type" value="application/json"/>
    </flow>

    <flow name="get-leagueId">
        <set-payload value="leagueId: #[leagueId]"/>
    </flow>

    <flow name="put-leagueId">
        <set-property propertyName="incoming-content-type" value="#[message.inboundProperties['content-type']]"/>
    </flow>

    <apikit:mapping-exception-strategy name="Global_Mapping_Exception_Strategy">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException"/>
            <set-payload value="resource not found"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException"/>
            <set-payload value="method not allowed"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException"/>
            <set-payload value="unsupported media type"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException"/>
            <set-payload value="not acceptable"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException"/>
            <set-payload value="bad request"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

</mule>
