mule-apikit-module/src/test/resources/org/mule/module/apikit/raml-handler/simple08.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="httpListenerConfigDefault">
        <http:listener-connection host="localhost" port="${serverPort}"/>
    </http:listener-config>

    <apikit:config name="apikitConfig" raml="org/mule/module/apikit/raml-handler/simple08.raml"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

    <flow name="doorway">
        <http:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <http:response statusCode="#[vars.httpStatus]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        <apikit:router config-ref="apikitConfig"/>
    </flow>

    <flow name="consoleFlow">
        <http:listener config-ref="httpListenerConfigDefault" path="/console/*">
            <http:response statusCode="#[vars.httpStatus]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        <apikit:console config-ref="apikitConfig"/>
    </flow>

</mule>
