mule-apikit-module/src/test/resources/org/mule/module/apikit/validation/query-string/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="httpListenerConfigDefault">
        <http:listener-connection host="localhost" port="${serverPort}"/>
    </http:listener-config>

    <apikit:config name="query-string-test-config" raml="org/mule/module/apikit/validation/query-string/query-string.raml"
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

    <flow name="api-main">
        <http:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="query-string-test-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <set-payload value="{message: 'Bad Request'}"/>
                <set-variable variableName="httpStatus" value="400"/>
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="get:\simple-type:query-string-test-config">
        <logger level="INFO" message="get:\simple-type:query-string-test-config" />
    </flow>

    <flow name="get:\type-property-array:query-string-test-config">
        <logger level="INFO" message="get:\type-property-array:query-string-test-config" />
    </flow>

    <flow name="get:\type-property-type:query-string-test-config">
        <logger level="INFO" message="get:\type-property-type:query-string-test-config" />
    </flow>

    <flow name="get:\default-value-property:query-string-test-config">
        <logger level="INFO" message="get:\default-value-property:query-string-test-config" />
    </flow>

    <flow name="get:\number-to-string-property:query-string-test-config">
        <logger level="INFO" message="get:\number-to-string-property:query-string-test-config" />
    </flow>
</mule>