mule-apikit-module/src/test/resources/org/mule/module/apikit/router-oas/petstore.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
      http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    
    <http:listener-config name="petstore-httpListenerConfig">
        <http:listener-connection host="localhost" port="${serverPort}" />
    </http:listener-config>
    
    <apikit:config name="petstore-config" api="org/mule/module/apikit/router-oas/petstore.json" 
                   outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    
    <flow name="petstore-main">
        <http:listener config-ref="petstore-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="petstore-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <set-payload value="{message: 'Not acceptable'}"/>
                <set-variable variableName="httpStatus" value="406"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <set-payload value="{message: 'Unsupported media type'}"/>
                <set-variable variableName="httpStatus" value="415"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <set-payload value="{message: 'Method Not Allowed'}"/>
                <set-variable variableName="httpStatus" value="405"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-payload value="{message: 'Resource Not Found'}"/>
                <set-variable variableName="httpStatus" value="404"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <set-payload value="{message: 'Not implemented'}"/>
                <set-variable variableName="httpStatus" value="501"/>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="petstore-console">
        <http:listener config-ref="petstore-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="petstore-config" />
    </flow>
    <flow name="get:\pets:petstore-config">
        <logger level="INFO" message="get:\pets:petstore-config" />
        <set-payload value="hello"/>
    </flow>
    <flow name="get:\pets\(petId):petstore-config">
        <logger level="INFO" message="get:\pets\(petId):petstore-config" />
    </flow>
    <flow name="post:\pets:petstore-config">
        <logger level="INFO" message="post:\pets:petstore-config" />
    </flow>
</mule>
