mule-apikit-module/src/test/resources/org/mule/module/apikit/space in path/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd" >
    <apikit:config name="router-config" raml="org/mule/module/apikit/space in path/api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:listener-config name="httpListenerConfigDefault">
        <http:listener-connection host="localhost" port="${serverPort}" />
    </http:listener-config>
    <flow name="main-api">
        <http:listener config-ref="httpListenerConfigDefault" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="router-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <set-payload value="{message: 'Not acceptable'}"/>
                <set-variable variableName="httpStatus" value="406"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <set-payload value="{message: 'Unsupported media type'}"/>
                <set-variable variableName="httpStatus" value="415"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <set-payload value="{message: 'Method Not Allowed'}"/>
                <set-variable variableName="httpStatus" value="405"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-payload value="{message: 'Resource Not Found'}"/>
                <set-variable variableName="httpStatus" value="404"/>
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="put:\schema:application\json:router-config">
        <logger level="INFO" message="put:\schema:application\json:router-config" />
    </flow>
</mule>
